<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.judes_darwinchandra">

    <permission android:name="com.example.app2.provider.READ_URI_DB" />

    <uses-permission android:name="com.example.app2.provider.READ_URI_DB" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- untuk dapat membaca/mengambil contact dari hp kita -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature android:name="android.hardware.camera" /> <!-- penambahan permission agar aplikasi dapat mengakses wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permissioxn.ACCESS_FINE_LOCATION" /> <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Interstitial"></activity>

        <receiver android:name=".scheduleJobWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/schedule_job_widget_info" />
        </receiver>

        <activity android:name=".ExistingUser" />
        <activity android:name=".invitefriends" />
        <activity android:name=".NewsActivity" /> <!-- receiver untuk wifi yang telah dibuat -->
        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".MyWifiStateReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".DownloadService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".News"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".BookmarkedActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" />
        <activity android:name=".ManageProfilActivity" />
        <activity android:name=".DetailPekerjaanActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".HelpActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:parentActivityName=".BerandaActivity" />
        <activity
            android:name=".ForgotPasswordProfileActivity"
            android:parentActivityName=".ChangePasswordActivity" />
        <activity
            android:name=".SettingProfileActivity"
            android:parentActivityName=".BerandaActivity" />
        <activity
            android:name=".VideoCallActivity"
            android:parentActivityName=".BerandaActivity" />
        <activity
            android:name=".ChatRoomActivity"
            android:parentActivityName=".BerandaActivity" />
        <activity
            android:name=".LocationActivity"
            android:parentActivityName=".BerandaActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BerandaActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7522501712516015~9371464429" />
    </application>

</manifest>